body{margin: 0; padding: 0;}
#map{
	top: 0;
	bottom: 0;
	width: 100%;
	z-index: 900;
	position: fixed;

}

.clearfix:before,  
.clearfix:after {  
    content: " ";  
    display: table;  
}  
.clearfix:after {  
    clear: both;  
}  
.clearfix {  
    *zoom: 1;  
}  

/*where the text lives*/

article{
	position: absolute;
	margin: 0 12.5% 0; padding: 0;
	text-align: center;
	z-index: 99998;
	width: auto;
	height: 99%;
	overflow: scroll;
	}

section{
	background-color: white;
	opacity: 0.95;
	margin-bottom: 30%;
	padding-top: 20px;

}

.header{
	margin-bottom: 5%;
	padding: 5px;

}


section p{
	font: normal 18px "adobe-caslon-pro", Georgia, Times, serif;
	color: black;
	line-height: 22px;
	text-align: left;
	width: auto;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	padding-left: 70px;
	padding-right: 70px;
	padding-bottom: 30px;

}

section p.center{
	text-align: center;
}

section h1{
	font: 4.5em "proxima-nova-alt", "Varela", sans-serif;
	color: black;
	/*text-transform: uppercase;*/
	font-weight: 700;
	text-align: left;
	background-color: white;
	opacity: 0.95;
	top: 0;
	width: auto;
	margin-bottom: -20px;
	padding-left: 20px;
}

section h2{
	font: normal 2.5em "proxima-nova-alt", "Varela", sans-serif;
	font-weight: 200;
	/*text-transform: uppercase;*/
	color: black;
	text-align: left;
	background-color: white;
	opacity: 0.95;
	padding-left: 20px;
}


section a{
	color: #EDA126;
	text-decoration: none;
}

section img{
	width: 75%;
	margin:auto;
	text-align: center;
	padding-bottom: 10px;
}

/*hyperlapse*/

.backgrounds{
	position: fixed;
	width: 100%;
	height: 100%;
	opacity: 1;
	bottom: 0;
	background-size: 100%;
	overflow: scroll;
	background-repeat: no-repeat;
	bottom: 0;

}

#bg{
	background-image: url(img/screenshot.png);
	opacity: 1;
	z-index: -5;
	bottom: 0;
}

#pano {
	height: 100%;
	width: 100%;
	position: fixed;
	top:0;
	z-index: -10;

}

/*nav*/

#map-ui {
	width: 100%;
	height: 20px;
	background: #ccc;
	padding: 5px;
	padding-bottom: 10px;
	font-family: 10px "proxima-nova-alt", 'Varela', Helvetica, sans-serif;;
	position: relative;
	bottom: 0;
	z-index: 999999;
}
#map-ui li{
	list-style: none;
	display: inline;
	float: left;
	width: auto;
    font: 12px "proxima-nova-alt", 'Varela', Helvetica, sans-serif;
    background: #FFF;
    color: #4B6E88;
    margin: 0;
    padding: 0;
    border: 1px solid #CCC;
    padding: 5px;
}



#map-ui li#label{
	font: 12px "proxima-nova-alt", 'Varela', Helvetica, sans-serif;
    color: #FFF;
    background: #4B6E88;
    margin: 0;
    padding: 0;
    border: 1px solid #CCC;
    padding: 5px;
    text-decoration: none;
    text-transform: uppercase;
}

#map-ui li a{
	color: #4B6E88;
	text-decoration: none;
	text-transform: uppercase;
}

#map-ui li.active {
    background: #ddd;
    color: #000;
}



#map-nav li#pull {  
    display: none; 
}  

/*meeeedia queries*/

@media screen and (max-width: 480px){
.backgrounds{
position: fixed;
width: 100%;
height: 100%;
opacity: 1;
background-position: bottom;

}


#bg{
	background-image: url(img/screenshot.png);
	background-repeat: no-repeat;
	background-position: bottom;
	opacity: 0;
	z-index: -5;
	bottom: 0;
}

#pano {
	height: 100%;
	width: 100%;
	position: fixed;
	top:0;
	z-index: -10;

}

section{
	top: 0;
	width: auto;
	padding:10px;
	margin: auto;
	text-align: left;
	margin-bottom: 50%;
}

section p{
	font: 14px"adobe-caslon-pro", Georgia, Times, serif;
	color: black;
	letter-spacing: .5;
	line-height: 1.3;
	padding:10px;
}

section h1{
	font: normal 24px "proxima-nova-alt",'Varela', 'Helvetica Neue', Helvetica,sans-serif;
	color: black;
	font-weight: 700;
	text-transform: uppercase;
	text-align: left;
	padding: 0px;
	margin-top: 25%;
}

section h2{
	font: normal 18px "proxima-nova-alt", 'Varela', 'Helvetica Neue', Helvetica,sans-serif;
	color: black;
	text-transform: uppercase;
	text-align: left;
	padding: 0px;
}

section img{
	width: 100%;
	margin:auto;
	text-align: center;
	padding-bottom: 5px;
	text-align: center;}

article{
	position: absolute;
	margin: 0 2% 0; padding: 0;
	text-align: center;
	z-index: 99999;
	max-height: 85%;
	overflow: scroll;
	width: auto;
	}


#map-ui { border-bottom: 0;  }  

#map-ui {  
        display: none;  
        height: auto;  
        padding: 0px;
    }
#map-ui li{
	display: block;
	float: none;
}  

#map-nav{
	padding: 0px;
	position: relative;
	margin-bottom:5px; 
	z-index: 999999;
}

#map-nav li#pull {  
	display: block;   
	width: auto;  
	position: relative; 
	background: #4B6E88;
	margin: 0;
	padding: 0;
	border: 1px solid #CCC;
	padding: 5px;

    }  
#map-nav li#pull a{
	font: 16px "proxima-nova-alt", 'Varela', Helvetica, sans-serif;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;  }
}
