---
layout: default
title: Architectures of Surveillance
---

<article class="clearfix">
	<section class="header"><h1>On The Outskirts of Crypto City</h1><h2>Notes on the Architecture of Surveillance</h2></section>
	
	{% for post in site.posts reversed %}
		{% if post.hasimage == true %}
			<section id = "{{ post.divid }}">
			<img src="{{ post.image }}" />
			{{ post.content }}
			</section>
		{% else %}
			<section id = "{{ post.divid }}">
			{{ post.content }}
			</section>
		{% endif %}
	
	{% endfor %}
</article>